<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>US OnShore Industries Corp</title>
  <!-- styles -->
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://kit.fontawesome.com/e21e418914.css" crossorigin="anonymous">
</head>

<body>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="../index.html"><img src="../logo_on.png" style="height: 8vh;" alt="..." /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
          <li class="nav-item"><a class="nav-link" href="supply.html">Supply</a></li>
          <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Banner -->

  <div class="banner-about centered" style="background-image: url('../assets/img/supply/banner1.jpg')">
    <h1 style="color: white; font-weight: bold;">Targeted supply:</h1>
  </div>

  <!-- supplying -->
  <div class="section section-padding">
    <div class="container">

      <div class="centered">

        <img class="img-fluid" src="../assets/img/supply/value.png" alt="..." />
      </div>

    </div>

  </div>

  <!-- Distribution process -->
  <div class="section section-padding">
    <div class="container">

      <div class="centered">

        <img class="img-fluid" src="../assets/img/supply/process1.png" alt="..." />
      </div>

    </div>

  </div>


  <!-- Footer -->
  <footer class="container-footer">
    <div style="padding: 1rem;">
      <div class="row">
        <div class="col-12 col-md-6">
          <div>
            <h5 class="txt-contfooter">Contact us today to discover
              how US OnShore Industries
              can be your trusted partner for
              all your maritime, industrial,
              and onshore equipment needs.</h5>
          </div>

        </div>

        <div class="col-12 col-md-6">

          <div class="container-telfooter">
            <p><i class="fa-solid fa-phone"></i> <a href="tel:+1-956-534-5535">+1 956 534 5535</a></p>

            <p><i class="fa-solid fa-envelope"></i> <a href="mailto:admin@usonshore.com">admin@usonshore.com</a></p>
          </div>

        </div>
      </div>

      <div class="border-top">
        <div class="container-allrights">
          <p>&copy; 2020 US OnShore Industries Corp. All rights reserved.</p>
          <p>Last update: October 2020.</p>
        </div>
      </div>
    </div>

  </footer>

  <script src="../js/scripts.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/e21e418914.js" crossorigin="anonymous"></script>

</body>



</html>